body{
    width: 100%;
}

* {
    margin:0;
    padding:0
    
}

.submit1{
    margin: 0;
    top: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
}

.submit1 a{
    position: fixed;
    right: 5px;
    top: 5px;
    border: none;
    padding: 10px;
    background-color: rgba(103,58,183);
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px rgba(103,58,183) solid;
    display: inline-block;
    font-size: 20px;
    height: 39px;
    width: 75px;
    cursor: pointer;
    font-family: oswald;
    border-radius: 15px;
}

a:visited{
    text-decoration: none;
}

.submit1 h1{
    text-align: center;
    background-color: black;
    color: white;
    font-family: oswald;
}

.welcome-header {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 500px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.welcome-header h1 {
    font-size: 40px;
    margin-top: 90px;
    font-family: Oswald;
}

.form-subscribe {
    border: 1px solid transparent;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}

.form-subscribe input {
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.form-button {
    text-decoration: none;
}

.myform-btn{
    width: 40%;
    height: 40px;
    font-size: 17px;
    background: rgba(103,58,183);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: white!important;
}

.myform-btn a {
    text-decoration: none;
    color: white;
    font-family: Oswald;
    font-size: 25px;
}

input[type="text"] {
    text-align: center;
    font-family: Oswald;
    font-size: large;
}


@font-face {
    font-family: Oswald;
    src: url(Oswald/static/Oswald-SemiBold.ttf);
}